@page "/home"

<!-- Uncomment this to enable theming 

<MudThemeProvider />

-->

<h3>HomeBlazorPage</h3>

<MudTextField Label="TestLabel" Class="mt-5"
              @bind-Value="TestString" />

@code {
    public string TestString { get; set; } = string.Empty;
}
